<div class="main-container">
  <div class="hero">
    <img
      src="https://ifdalivestorage.blob.core.windows.net/user-uploads/73707/mid-size/wq2bUVGK9meSkkyOzi82QPR61YNM0Tbq3x4YrQvg4wDmndvFpYnbM0BOPeLJqu158QoJL1UbbD0KbuZ5F5uXEk7y3sRAFPGALdDUzSFbz4w7s1Wjq7g6nfrzGeVAEh6gBy7kk1JRRlrJ8azgE2fOM2I6IQ2i7uQZUwQzj9d11ArcZrgzDapfi2JCtTL1DlQHZgk99cTy1PsModiHc3pUWRpMtBtT1vc6EPCWhlvcDPpEXVspjIpL3SReTq"
      alt="Tech Setup"
      class="hero-img"
    />
  </div>

  <!-- Bottom Bar -->
  <div class="bottom-bar">
    <h1 class="title">TechPads</h1>
    <div class="actions">
      <button class="btn-ingresar" (click)="toggleLogin()">
        Ingresar
      </button>
      <p class="register-text">
        ¿No tienes cuenta? <a href="#" (click)="toggleRegister(); $event.preventDefault()">Regístrate</a>
      </p>
    </div>
  </div>

  <!-- Modal Container -->
<div class="modal-overlay" *ngIf="showLogin || showRegister" (click)="closeModals()">
  <app-login
    *ngIf="showLogin"
    (close)="closeModals()"
    (openRegisterModal)="switchToRegister()"
  ></app-login>
  <app-register
    *ngIf="showRegister"
    (close)="closeModals()"
  ></app-register>
</div>
</div>