@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;700&display=swap');

body {
  font-family: 'Instrument Sans', sans-serif;
}

body {
  margin: 0 !important;
  padding: 0 !important;
}